body {
    color: #555;
    background: #222;
    text-align: center;
  }
  .divBody {
    background: #222222; 
  }

  .font-nunito {
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }